<ul class="card-text  list-group list-group-flush">
    {% assign work = data[1] | sort: 'startDate' | reverse %}
    {% for content in work %}
        <li class="list-group-item">
            <div class="row d-flex flex-column flex-md-row">
                <div class="cv period col-md-3 mb-3 mb-md-0">
                    {% if content.startDate %}
                        {% assign start_year = content.startDate | split: '-' | first | plus: 0 %}
                        {% assign start_month = content.startDate | split: '-' | slice: 1, 1 | first | plus: 0 %}
                        {% if content.endDate %}
                            {% assign end_year = content.endDate | split: '-' | first | plus: 0 %}
                            {% assign end_month = content.endDate | split: '-' | slice: 1, 1 | first | plus: 0 %}
                        {% else %}
                            {% assign end_year = site.time | date: "%Y" | plus: 0 %}
                            {% assign end_month = site.time | date: "%m" | plus: 0 %}
                        {% endif %}

                        {% assign year_diff = end_year | minus: start_year %}
                        {% assign month_diff = end_month | minus: start_month %}
                        {% if month_diff < 0 %}
                            {% assign year_diff = year_diff | minus: 1 %}
                            {% assign month_diff = month_diff | plus: 12 %}
                        {% endif %}

                        {% assign startDate = content.startDate | split: '-' | slice: 0, 2 | join: '.' %}
                        {% assign endDate = content.endDate | split: '-' | slice: 0, 2 | join: '.' | default: 'Present' %}
                        {% assign date = startDate | append: ' - ' | append: endDate %}
                    {% endif %}
                        <h4 style="color: #696969"> {{ date }} </h4>
                        {% if year_diff > 0 or month_diff > 0 %}
                            <span class="badge badge-custom font-weight-bold danger-color-dark"
                                  style="min-width: 75px">
                            {{ year_diff }}년 {{ month_diff }}개월</span>
                        {% endif %}
                        {% if content.location %}
                            <p class="location">
                                <i class="fa-solid fa-location-dot iconlocation"></i>
                                {{ content.location }}
                            </p>
                        {% endif %}
                </div>
                <div class="col-md-9 mt-2 mt-md-0">
                    <h4 class="title font-weight-bold">
                        <a href="{{ content.url }}">{{ content.name }}</a>
                    </h4>
                    <h5 style="font-size: 1.1rem">{{ content.position }}</h5>
                    {% comment %}<h6 class="" style="font-size: 0.95rem">{{ content.summary }}</h6>{% endcomment %}
                    <ul class="items">
                        {% for item in content.highlights %}
                            <li>
                                <span class="item">{{ item }}</span>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </li>
    {% endfor %}
</ul>
